body
{
    border: 1px solid;
}

#first-parag
{
    font-size: 15px;
    font-style: italic;
    width: 400px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

.red-paragraph {
    background: red;
}